/ {
	pcdev1: pcdev-1 {  
        	compatible = "pcdev-E1x","pcdev-A1x";
		org,size = <512>;
		org,device-serial-num = "PCDEVA1SJ";
		org,perm = <0x11>;
	};

	pcdev2: pcdev-2 {
        	compatible = "pcdev-B1x";
		org,size = <128>;
        	org,device-serial-num = "PCDEVB1SJ";
		org,perm = <0x11>;
	};
       	
        pcdev3: pcdev-3 {
        	compatible = "pcdev-C1x";
		org,size = <256>;
        	org,device-serial-num = "PCDEVC1SJ";
		org,perm = <0x11>;
	};

        pcdev4: pcdev-4 {
        	compatible = "pcdev-D1x";
		org,size = <1024>;
        	org,device-serial-num = "PCDEVD1SJ";
		org,perm = <0x11>;
	};
};
     
        








       






